{% extends "base_agent.html" %}
{% block title %}Departments Form{% endblock %}

{% load i18n %}
{% block content %}
<style>
    form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}
</style>
<!--
    <h1>Departments Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="save" value="save">{% trans "Save" %}</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button class="danger" type="submit" name="delete" value="delete">{% trans "Delete" %}</button>
    </form>
-->


<div class="centered-container">
    <h1>{% trans "Departments Form" %}</h1>
    <form method="post" class="departments-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        {% if creating_new %}
        <button type="submit" name="save" value="save" class="primary-button">{% trans "Create" %}</button>
        {% else %}
        <button type="submit" name="save" value="save" class="primary-button">{% trans "Save" %}</button>
        {% endif %}

    </form>

    <form method="post" class="delete-form">
        {% csrf_token %}
        {% if not creating_new %}
        <button type="submit" name="delete" value="delete" class="danger-button">{% trans "Delete" %}</button>
        {% endif %}
    </form>
</div>

{% endblock %}