{% extends "base.html" %}
{% load i18n %}
{% block title %}Forms{% endblock %}

{% block content %}
<div class="form_body">
    <div class="layout">
        <div class="sidebar">
            <h2>{% trans "Reports" %}</h2>
            <div class="buttons-container">
                <a href="{% url 'form_claim' %}" class="button" data-description="{% trans 'Claim Description' %}">{% trans "Claim & Damage" %}</a>
                <a href="{% url 'form_transportation' %}" class="button" data-description="{% trans 'Transport Description' %}">{% trans "Transportation" %}</a>
                <a href="{% url 'form_preparation' %}" class="button" data-description="{% trans 'Preperation Description' %}">{% trans "Vehicle Preperation" %}</a>
                <a href="{% url 'form_communication' %}" class="button" data-description="{% trans 'Communication Description' %}">{% trans "Communication" %}</a>
                <a href="{% url 'form_other' %}" class="button" data-description="{% trans 'Other Description' %}">{% trans "Other" %}</a>
            </div>
        </div>
        <div class="content">
            <div class="description-box">
                <h1 id="button-name">{% trans "Welcome" %}</h1>
                <p id="description-text">{% trans "Hover over the buttons on the left to learn more about each page." %}</p>
            </div>
        </div>
    </div>
</div>
<script>
    const buttons = document.querySelectorAll('.button');
    const buttonName = document.getElementById('button-name');
    const descriptionText = document.getElementById('description-text');

    buttons.forEach(button => {
        button.addEventListener('mouseover', () => {
            const name = button.textContent.trim(); // Get the button's name
            const description = button.getAttribute('data-description');
            buttonName.textContent = name; // Update the heading with the button's name
            descriptionText.textContent = description; // Update the paragraph with the description
        });
    });
</script>
{% endblock %}
